body {
    background-color: #f5eee6;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    margin: 20px auto;
    width: 600px;
    background-color: #fff8e3;
    border-radius: 10px;
    padding: 20px;
}

.logo {
    text-align: left;
    margin-bottom: 20px;
}

.calculator-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}